// body {
//     font-family: "Newsreader", "Noto Serif TC", serif;
//   line-height: 1.5;
// }
img {
  max-width: 100%;
  height: auto;
}
a {
  //   text-decoration: none;
  color: inherit;
  display: inline-block;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin-bottom: 0;
// }

// 0.5%字距
p {
  letter-spacing: 0.05em;
}

// ul,
// li {
//   list-style: none;
// }
