<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>context</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="section1">
      <div class="container-lg">
        <div class="row">
          <div class="mx-auto">
            <picture>
              <source
                media="(min-width: 576px)"
                srcset="/assets/images/2024-week6/article-banner.png"
              />

              <img
                src="/assets/images/2024-week6/article-banner-sm.png"
                alt="article-banner"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="section2 mt-10 mb-9">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <nav aria-label="breadcrumb ">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/pages/index.html">首頁</a>
                </li>
                <li class="breadcrumb-item"><a href="#">所有文章</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  私人島嶼的露營奇遇記
                </li>
              </ol>
            </nav>
            <p class="fs-lg-2 fs-4 fw-bolder mt-4">私人島嶼的露營奇遇記</p>
            <p class="date text-neutral-400 mb-lg-7 mb-5">2024/5/1</p>
            <div class="gradient-overlay">
              <p class="mb-lg-7 text">
                嗨！我是秘境尋蹤小編
                Elly，很高興能與你分享我這段令人心曠神怡的旅程。這不僅僅是一次旅行，更是一場對自然、對內心的深度體悟，一次重新與大自然連結的奇妙旅程。希望透過我的分享，你也能感受到這份自然之美，並找到一份屬於自己的心靈寧靜。
              </p>
              <p class="mb-lg-7 mb-4 text">
                這段旅程的開始，是從一個遙遠的小島。我對於這片土地的認識，僅止於一些遊記和照片，對於它的神秘感與未知感讓我充滿了好奇。一艘小船，帶著我穿越海浪，穿過風暴，終於抵達了這片被大自然雕琢的寶地。當我踏上這片島嶼的那一刻，心中充滿了震撼與喜悅。
              </p>
              <div class="mb-lg-7">
                <picture>
                  <source
                    media="(min-width: 992px)"
                    srcset="/assets/images/2024-week6/content-1.png"
                  />

                  <img
                    src="/assets/images/2024-week6/content-1-sm.png"
                    class="w-100"
                    alt="content-1"
                  />
                </picture>
              </div>
            </div>
            <p class="text1 fw-bold text-center mb-3 mt-4">
              本篇為會員專屬文章，馬上訂閱瀏覽所有內容！
            </p>
            <div class="text2 mx-auto">
              <p class="fw-bold text-center mt-4">本篇為會員專屬文章</p>
              <p class="fw-bold text-center mb-3">馬上訂閱瀏覽所有內容！</p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button
                class="myBtn btn btn-accent-200 fs-lg-5 fs-6 text-primary-100 mb-lg-8"
                type="button"
              >
                我要訂閱
                <i class="bi bi-arrow-right ps-1"> </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section3">
      <div class="container-lg">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h4 class="fs-lg-2 mb-lg-7 mb-4 fs-4">延伸閱讀</h4>

            <div class="overflow">
              <div class="d-flex gap-4 flex-lg-column myCard1">
                <div class="card border-0 border-bottom pb-5 mb-lg-7">
                  <div class="d-flex flex-column flex-lg-row g-0">
                    <div class="">
                      <picture>
                        <source
                          media="(min-width: 768px)"
                          srcset="/assets/images/2024-week6/read-1.png"
                        />
                        <img
                          class="w-100"
                          src="/assets/images/2024-week6/read-1-sm.png"
                          alt="read-1-sm"
                        />
                      </picture>
                    </div>
                    <div class="col-lg-9">
                      <div class="card-body ps-0 ps-lg-3">
                        <h5 class="card-title text-truncate">
                          週末說走就走露營記
                        </h5>
                        <h6 class="card-text fw-semibold text-neutral-500">
                          遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...
                        </h6>
                        <div class="d-flex justify-content-end mt-4">
                          <a href="#" class="text-accent-200 fs-5">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-0 border-bottom pb-5 mb-lg-7">
                  <div class="d-flex flex-column flex-lg-row g-0 g-0">
                    <div class="">
                      <picture>
                        <source
                          media="(min-width: 768px)"
                          srcset="/assets/images/2024-week6/read-2.png"
                        />
                        <img
                          class="w-100"
                          src="/assets/images/2024-week6/read-2-sm.png"
                          alt="read-2-sm"
                        />
                      </picture>
                    </div>
                    <div class="col-lg-9">
                      <div class="card-body ps-0 ps-lg-3">
                        <h5 class="card-title text-truncate">城市野營日記</h5>
                        <h6 class="card-text fw-semibold text-neutral-500">
                          終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不...
                        </h6>
                        <div class="d-flex justify-content-end mt-4">
                          <a href="#" class="text-accent-200 fs-5 mt-auto"
                            >Read More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card border-0 border-bottom pb-5 mb-lg-10">
                  <div class="d-flex flex-column flex-lg-row g-0 g-0">
                    <div class="col-lg-3">
                      <picture>
                        <source
                          media="(min-width: 768px)"
                          srcset="/assets/images/2024-week6/read-3.png"
                        />
                        <img
                          class="w-100"
                          src="/assets/images/2024-week6/read-3-sm.png"
                          alt="read-3-sm"
                        />
                      </picture>
                    </div>
                    <div class="col-lg-9">
                      <div class="card-body ps-0 ps-lg-3">
                        <h5 class="card-title text-truncate">
                          和寵物去露營 - 大自然之旅的雙倍體驗
                        </h5>
                        <h6 class="card-text fw-semibold text-neutral-500">
                          說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當...
                        </h6>
                        <div class="d-flex justify-content-end mt-4">
                          <a href="#" class="text-accent-200 fs-5 pt-auto"
                            >Read More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
