<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <div class="section1 my-lg-10 pb-10">
        <div class="container">
          <div class="rounded-3 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="/assets/images/2024-week6/banner.png"
              />
              <img src="/assets/images/2024-week6/banner-sm.png" alt="banner" />
            </picture>
            <div
              class="container position-absolute top-50 translate-middle-y text-neutral-100 ms-lg-9 mt-10 pt-10 mt-lg-4 pt-lg-0"
            >
              <h3 class="fs-lg-5 fs-6 mb-lg-4 mb-1 text-center text-lg-start">
                獻給新世代的生活風格誌
              </h3>
              <h2 class="col-md-8 fs-lg-1 fs-3 mb-4">一起探索生活的無限可能</h2>

              <button
                class="myBtn btn btn-accent-200 fs-lg-5 fs-6 text-primary-100 mb-lg-8 d-flex mx-auto ms-md-3"
                type="button"
              >
                馬上訂閱
                <i class="bi bi-arrow-right ps-1"> </i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="section2 my-lg-10 mb-8">
        <div class="container">
          <h2 class="mb-5 fs-4 fs-lg-2">熱門主題</h2>
          <div class="row gy-lg-5 gy-1">
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-1.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-1-sm.png"
                  alt="theme-1-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                城市漫遊者
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-3.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-3-sm.png"
                  alt="theme-2-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                秘境巡蹤人
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-5.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-5-sm.png"
                  alt="theme-3-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                品味設計家
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-8.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-8-sm.png"
                  alt="theme-4-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                美食探險記
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-2.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-2-sm.png"
                  alt="theme-5-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                美學建築誌
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-4.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-4-sm.png"
                  alt="theme-6-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                慢活生活行
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-6.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-6-sm.png"
                  alt="theme-7-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 fw-4 translate-middle text-primary-100"
              >
                工藝匠心賞
              </p>
            </div>
            <div class="col-lg-3 col-md-6 position-relative">
              <picture>
                <source
                  media="(min-width: 992px)"
                  srcset="/assets/images/2024-week6/theme-7.png"
                />
                <img
                  src="/assets/images/2024-week6/theme-7-sm.png"
                  alt="theme-8-sm"
                  class="w-100 rounded-top-left-1 rounded-bottom-right-1"
                />
              </picture>
              <p
                class="position-absolute top-50 start-50 fs-lg-5 translate-middle text-primary-100"
              >
                時尚先鋒派
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section3 my-lg-10 pt-10 mb-10">
        <div class="container position-relative">
          <div class="row">
            <div class="col-lg-4 d-flex flex-column justify-content-between">
              <h2 class="fs-4 fs-lg-2 mb-5">精選文章</h2>
            </div>
            <div class="col-lg-8">
              <div class="swiper mySwiper mb-3">
                <div class="swiper-wrapper">
                  <div
                    class="myCard swiper-slide card border-0 border-bottom pb-4"
                  >
                    <picture>
                      <source
                        srcset="/assets/images/2024-week6/articles-1-sm.png"
                        media="(min-width: 576px)"
                      />
                      <img
                        src="/assets/images/2024-week6/articles-1.png"
                        class="card-img-top img-fluid w-100"
                        alt="article-image"
                      />
                    </picture>
                    <h3 class="fs-5 mt-4 fw-900">私人島嶼的露營奇遇記</h3>
                    <p class="mt-2 mb-4 fw-600 gray-600">
                      遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                    </p>
                    <a class="text-accent-200" href="#"><p>Read More</p></a>
                  </div>
                  <div
                    class="myCard swiper-slide card border-0 border-bottom pb-3"
                  >
                    <picture>
                      <source
                        srcset="/assets/images/2024-week6/articles-2-sm.png"
                        media="(min-width: 576px)"
                      />
                      <img
                        src="/assets/images/2024-week6/articles-2.png"
                        class="card-img-top img-fluid w-100"
                        alt="article-image"
                      />
                    </picture>
                    <h3 class="fs-5 mt-4 fw-900">
                      窺探米其林三星主廚的絕密手藝
                    </h3>
                    <p class="mt-2 mb-4 fw-600 gray-600">
                      在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <a class="text-accent-200" href="#"><p>Read More</p></a>
                      <p class="only-staff px-2 rounded-1">
                        <a class="text-primary-400" href="#">會員專屬</a>
                      </p>
                    </div>
                  </div>
                  <div
                    class="myCard swiper-slide card border-0 border-bottom pb-4"
                  >
                    <picture>
                      <source
                        srcset="/assets/images/2024-week6/articles-1-sm.png"
                        media="(min-width: 576px)"
                      />
                      <img
                        src="/assets/images/2024-week6/articles-1.png"
                        class="card-img-top img-fluid w-100"
                        alt="article-image"
                      />
                    </picture>
                    <h3 class="fs-5 mt-4 fw-900">私人島嶼的露營奇遇記</h3>
                    <p class="mt-2 mb-4 fw-600 gray-600">
                      遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                    </p>
                    <a class="text-accent-200" href="#"><p>Read More</p></a>
                  </div>
                  <div
                    class="myCard swiper-slide card border-0 border-bottom pb-3"
                  >
                    <picture>
                      <source
                        srcset="/assets/images/2024-week6/articles-2-sm.png"
                        media="(min-width: 576px)"
                      />
                      <img
                        src="/assets/images/2024-week6/articles-2.png"
                        class="card-img-top img-fluid w-100"
                        alt="article-image"
                      />
                    </picture>
                    <h3 class="fs-5 mt-4 fw-900">
                      窺探米其林三星主廚的絕密手藝
                    </h3>
                    <p class="mt-2 mb-4 fw-600 gray-600">
                      在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <a class="text-accent-200" href="#"><p>Read More</p></a>
                      <p class="only-staff px-2 rounded-1">
                        <a class="text-primary-400" href="#">會員專屬</a>
                      </p>
                    </div>
                  </div>
                  <div
                    class="myCard swiper-slide card border-0 border-bottom pb-4"
                  >
                    <picture>
                      <source
                        srcset="/assets/images/2024-week6/articles-1-sm.png"
                        media="(min-width: 576px)"
                      />
                      <img
                        src="/assets/images/2024-week6/articles-1.png"
                        class="card-img-top img-fluid w-100"
                        alt="article-image"
                      />
                    </picture>
                    <h3 class="fs-5 mt-4 fw-900">私人島嶼的露營奇遇記</h3>
                    <p class="mt-2 mb-4 fw-600 gray-600">
                      遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                    </p>
                    <a class="text-accent-200" href="#"><p>Read More</p></a>
                  </div>
                  <div
                    class="myCard swiper-slide card border-0 border-bottom pb-4"
                  >
                    <picture>
                      <source
                        srcset="/assets/images/2024-week6/articles-2-sm.png"
                        media="(min-width: 576px)"
                      />
                      <img
                        src="/assets/images/2024-week6/articles-2.png"
                        class="card-img-top img-fluid w-100"
                        alt="article-image"
                      />
                    </picture>
                    <h3 class="fs-5 mt-4 fw-900">
                      窺探米其林三星主廚的絕密手藝
                    </h3>
                    <p class="mt-2 mb-4 fw-600 gray-600">
                      在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                    </p>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <a class="text-accent-200" href="#"><p>Read More</p></a>
                      <p class="only-staff px-2 rounded-1">
                        <a class="text-primary-400" href="#">會員專屬</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-absolute bottom-0 start-0">
              <div class="swiper-pagination-custom mb-6"></div>
              <div
                class="swiper-pagination d-flex justify-content-between position-relative"
              >
                <div
                  class="swiper-prev px-3 border border-1 border-dark rounded-pill"
                >
                  <i class="bi bi-arrow-left fs-4"></i>
                </div>
                <div
                  class="swiper-next d-inline-block px-3 border border-1 border-dark rounded-pill"
                >
                  <i class="bi bi-arrow-right fs-4"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section4 bg-primary-200">
        <div class="container">
          <div class="card bg-primary-200 border-0 py-10">
            <div class="card-body">
              <h4 class="card-text mb-4 text-primary-400 text-center">
                \ 母親節強檔活動 /
              </h4>
              <h2 class="card-title text-center mb-4">家庭訂閱方案限時 7 折</h2>
              <div class="card-text mb-6 d-flex justify-content-center">
                <ul class="list-unstyled">
                  <li class="mb-3">
                    <i class="bi bi-check me-2 text-neutral-500"
                      >每月最新文章無限閱讀</i
                    >
                  </li>
                  <li class="mb-3">
                    <i class="bi bi-check me-2 text-neutral-500"
                      >專屬會員限定內容</i
                    >
                  </li>
                  <li class="mb-3">
                    <i class="bi bi-check me-2 text-neutral-500">定期電子報</i>
                  </li>
                  <li class="mb-3">
                    <i class="bi bi-check me-2 text-neutral-500"
                      >年度精選禮物</i
                    >
                  </li>
                  <li class="mb-3">
                    <i class="bi bi-check me-2 text-neutral-500"
                      >24 /7 優先客戶服務</i
                    >
                  </li>
                  <li>
                    <i class="bi bi-check me-2 text-neutral-500"
                      >為每個成員量身打造專屬行程</i
                    >
                  </li>
                </ul>
                <!-- <div class="d-flex mb-3">
                  <i class="bi bi-check me-2 ms-8"></i>
                  <p class="text-neutral-500">每月最新文章無限閱讀</p>
                </div>
                <div class="d-flex mb-3">
                  <i class="bi bi-check me-2 ms-8"></i>
                  <p class="text-neutral-500">專屬會員限定內容</p>
                </div>
                <div class="d-flex mb-3">
                  <i class="bi bi-check me-2 ms-8"></i>
                  <p class="text-neutral-500">年度精選禮物</p>
                </div>
                <div class="d-flex mb-3">
                  <i class="bi bi-check me-2 ms-8"></i>
                  <p class="text-neutral-500">24 /7 優先客戶服務</p>
                </div>
                <div class="d-flex mb-3">
                  <i class="bi bi-check me-2 ms-8"></i>
                  <p class="text-neutral-500">為每個成員量身打造專屬行程</p>
                </div> -->
              </div>
              <button
                class="myBtn btn btn-accent-200 fs-lg-5 fs-6 text-primary-100 d-flex mx-auto"
                type="button"
              >
                我想了解
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
